body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 24px;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

main {
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

p {
    font-size: 100%;
    text-align: center;
}

img{
    width: 30%;
}

ul {
    padding: 0;
    border-top: 1px solid #000000;
    display: table;
    /* 定義 */
    table-layout: fixed;
    width: 100%;
}

li {
    text-align: center;
    list-style-type: none;
    border: 1px solid #666;
    background-color: #FFF;
    display: table-cell;
    /* 定義 */
    cursor: pointer;
}

li:hover {
    background: #0066CC;
    color: #fff;
}

#resultTable{
    border: 1px solid #ccc;
    margin: 15px;
}

dl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px #ccc;
    font-size: 20px;
}

dl:last-child{
    border-bottom: none;
}

dd{
    text-align: center;
    font-size: 20px;
}

.slider {
    width: 300px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 50px;

}

.slider-item {
    width: 300px;
    float: left;
}

img {
    width: 30%;
}

.slider-inner {
    width: 300%;
    animation: slider 10s infinite ease;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-300px);
    }

    66% {
        transform: translateX(-600px);
    }

    100% {
        transform: translateX(0);
    }
}